*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:#0B1B2B;
    color: #EAF7FF;
}

/* menu flottant css*/
header {
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding-left: 2%;
    padding-right:2%;
    background-color: #0B1B2B;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #00D9FF;
    z-index: 1000;
}

#h1-menu{
font-size: 50px;
font-weight: bold;
background: 
linear-gradient(
    90deg, 
    #00D9FF,
    #0066FF
    );
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

.logo img:hover{
    transform: translateY(-2px) scale(1.05);
}

.logo img {
    height: 80px;
    transition:transform 0.6s ease;
}

nav {
    display: flex;
    gap: 30px;
}

#bouton-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    height: 40px;
    max-width: 80px;
    padding: 7px 80px;
    border: 2px solid #0066FF;
    color: #00D9FF;
    background: #0B1B2B;
    cursor: pointer;
    transition:transform 0.6s ease, background-color 0.3s ease, color 0.3s ease;
}

#bouton-menu:hover {
    background: #0066FF;
    color: #fff;
    transform: translateY(-4px) scale(1.05);
}

/*section premier clic css */
.section-1 {
    display: flex;
    height: calc(100vh - 120px);
    padding: 0px 30px 0px 30px;
    padding-left: 1.2%;
    padding-right: 1.4%;
    align-items: center;
    background-color:#001225;
}

.section-1-text {
    flex: 1.05
}

.section-1 h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #00D9FF;
}

.section-1 p {
    font-size: 18px;
    padding: 5px 0px 0px 0px;
    line-height: 1.6;
    color: #AFC5D6;
}

.section-1-image {
    flex: 1;
    border-radius: 7px; 
    width: 100%;
    height: calc(100vh - 200px);
    background-color: #AFC5D6;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition:transform 0.6s ease;
}

.section-1-image:hover{
    transform: translateY(-4px) scale(1.02);
}

.section-1-image img {
    width: 100%;
    height: 100%; 
}

/*section utilisateur intéressé*/
.content {
    max-height: 100vh;
    padding: 40px 30px;
    display: inline-flex;
    gap: 30px;
    background-color: #050d19;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* box au dessus du texte */
.box-image {
    border-radius: 7px;
    border: 2px solid #0066FF;
    width: 100%;
    height: 280px;
    background-color: #AFC5D6;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition:transform 0.6s ease;
}

.box-image:hover{
    transform: translateY(-4px) scale(1.05);
}

.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-text {
    padding: 15px;
    background-color: #0B1B2B;
    text-align: center;
    font-size: 14px;
    line-height: 1.6;
    color: #AFC5D6;
    border-radius: 7px;
    border: 1px solid #0066FF;
    transition:transform 0.6s ease;
}

.box-text:hover{
    transform: translateY(-4px) scale(1.05);
}

/* box en dessous du texte */
.box.reverse {
    flex-direction: column-reverse;
}

/* Pied de page */
footer {
    padding: 50px;
    background-color: #050505;
    border-top: 2px solid #0066FF;
    text-align: center;
    color: #61798C;
    font-size: 15px;
}
